.login-wrapper {
  /* background-color: var(--background); */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 200px 2rem 2rem;
}

.login-box {
  background-color: var(--bg1);
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 24%);
}

.login-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--foreground);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-input {
  padding: 0.75rem 1rem;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1rem;
}

.login-input::placeholder {
  color: #888;
}

.login-button {
  padding: 0.75rem 1rem;
  background-color: var(--foreground);
  color: var(--background);
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  /* background-color: #ffffff; */
}

.login-error {
  color: #ff6b6b;
  margin-top: 1rem;
  text-align: center;
}
