@media (min-width: 1140px) {
}
@media (min-width: 1320px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1920px) {
}
:root {
  /* color variables */
  --background: #eef3f3;
  --foreground: #3f4144;
  --primary: #3f4144;

  /* Font variables */

  --font-primary: var(--font-abrilfatface), sans-serif;
  --font-secondary: var(--font-inter), sans-serif;
  /* --font-dmmono */
}

/* Dark theme overrides */
:root.dark {
  --background: #121315;
  --foreground: #e0eeee;
  --primary: #c5fcfc;

  /* #c5fcfc */
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Adjust based on your header height */
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  line-height: 26px;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin-left: 21px;
}
ul li {
  margin-bottom: 15px;
}
/* Typography
---------------------
*/
a,
span,
button,
input,
select,
textarea,
label,
p {
  font-family: var(--font-secondary);
}
h1,
h1 span,
h2,
h2 span,
h3,
h3 span,
h4,
h4 span,
h5,
h5 span,
h6,
.title-1,
h6 span {
  font-family: var(--font-primary);
  font-weight: 400;
}

.title-1 {
  font-size: 100px;
  line-height: 114px;
  margin-bottom: 30px;
}
.title-2 {
  font-size: 68px;
  line-height: 74px;
  margin-bottom: 30px;
}
.title-3 {
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 30px;
}
.title-4 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}
.text-1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.text-2 {
  font-size: 29px;
  line-height: 39px;
  margin-bottom: 30px;
}
.text-3 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}

/*mobile*/
@media (max-width: 767px) {
  body .sm-featured-demos.grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  body .btn-group {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  body .services-sec .box .coll.sm2,
  body .services-sec .box .coll.sm1 {
    width: 100%;
  }
  body .services-sec .box {
    flex-direction: column;
    padding: 40px 32px;
  }
  .btn-group {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  .title-1 {
    font-size: 47px;
    line-height: 50px;
  }
  .title-4 {
    font-size: 32px;
    line-height: 40px;
  }
  .title-2 {
    font-size: 42px;
    line-height: 42px;
  }
  .title-3 {
    font-size: 66px;
    line-height: 60px;
  }
  .text-1 {
    font-size: 16px;
    line-height: 26px;
  }
  .text-2 {
    font-size: 21px;
    line-height: 31px;
  }
  .text-3 {
    font-size: 24px;
    line-height: 34px;
  }
}
/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
  .title-1 {
    font-size: 84px;
    line-height: 67px;
  }
  .title-3 {
    font-size: 84px;
    line-height: 84px;
  }
  .title-3 {
    font-size: 130px;
    line-height: 99px;
  }
  .text-3 {
    font-size: 39px;
    line-height: 49px;
  }
}

/* container start
--------------------
*/

@media (min-width: 540px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 720px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 960px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1140px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1320px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1440px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1920px) {
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
}

/* btn
------------
*/
.btn {
  display: inline-flex;
}
.btn-group button,
.btn button,
.btn a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px 17px 40px;
  text-align: center;
  color: var(--primary);
  border: 2px solid var(--primary);
  text-decoration: none;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn.form-btn {
  text-align: right;
  display: flex;
  justify-content: end;
}
/*mobile*/
@media (max-width: 767px) {
  body .btn a {
    padding: 15px 30px 17px 30px;
  }
  br {
    display: none !important;
  }
}
/* extra
------------
*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.block {
  display: block;
}
/*all mobile*/
@media (max-width: 767px) {
  body .block {
    display: inherit !important;
  }
}

/* 
=====================
loading-container
=================
*/
.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  z-index: 9999;
  color: #fff;
}
.my-clock-loader {
  color: #ff2f00 !important; /* Customize the color here */
}
/* 
=====================
menu
=================
*/
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--background);
}
.header-wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: transparent;
  color: var(--foreground);
  height: 70px;
}
.header-wrapper .header-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-wrapper .menu-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--foreground);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-wrapper .menu-button span {
  font-size: 15px;
  font-family: var(--font-softype), sans-serif;

  line-height: 15px;
  position: relative;
  top: 1px;
  letter-spacing: 1px;
}
.header-wrapper .menu-button:hover {
  background-color: rgba(var(--primary), 0.1);
}
.mobile-menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--background);
  z-index: 90;
  transition: all 0.3s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}
.mobile-menu.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu .menu-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.mobile-menu .menu-nav ul {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: var(--font-primary);
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu .menu-link {
  color: var(--foreground);
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  font-size: 65px;
  line-height: 114px;
  text-transform: capitalize;
  margin-bottom: 0 !important;
}
/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
  body .mobile-menu .menu-link {
    font-size: 49px;
    line-height: 80px;
  }
}

/*all mobile*/
@media (max-width: 767px) {
  body .mobile-menu .menu-link {
    font-size: 32px;
    line-height: 55px;
  }
  body .mobile-menu .menu-container {
    justify-content: start;
  }
}

.mobile-menu .menu-link:hover {
  color: var(--primary);
}
.menu-overlay {
  position: fixed;
  top: 69px;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 80;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.menu-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
.header-wrapper .toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-wrapper .toggle-container .theme-toggle {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  cursor: pointer;
  background: hsla(222, 6%, 67%, 0.2);
}
.header-wrapper .toggle-container .theme-toggle svg {
  width: 14px;
  height: 14px;
}
.header-wrapper .menu-button .menu-icon {
  background: hsla(222, 6%, 67%, 0.2);
  width: 45px;
  height: 45px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 60px;
}
.dark .header-wrapper .header a img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(92%) saturate(1426%) hue-rotate(169deg) brightness(115%) contrast(98%);
}
.header-wrapper .header a img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(1%) saturate(2881%) hue-rotate(183deg) brightness(93%) contrast(88%);
}
.mobile-menu .menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.mobile-menu .menu-wrapper .menu-social .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: right;
  margin-bottom: 39px;
}
.mobile-menu .menu-wrapper .menu-social .info a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.mobile-menu .menu-wrapper .menu-social .socials-m {
  display: flex;
  gap: 10px;
}
.mobile-menu .menu-wrapper .menu-social .socials-m .s-item img {
  width: 40px;
}
.mobile-menu .menu-container {
  height: calc(100vh - 35px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
  body .mobile-menu .menu-wrapper {
    flex-direction: column;
    align-items: start;
  }
  body .mobile-menu .menu-wrapper .menu-social .info {
    text-align: left;
  }
  body .mobile-menu .menu-wrapper .menu-social {
    margin-top: 60px;
  }
  body .mobile-menu .menu-container {
    height: calc(700px - 35px);
  }
}

/*all mobile*/
@media (max-width: 767px) {
  body .mobile-menu .menu-container {
    height: calc(700px - 35px);
  }
  body .mobile-menu .menu-wrapper {
    flex-direction: column;
    align-items: start;
  }
  body .mobile-menu .menu-wrapper .menu-social .info {
    text-align: left;
  }
  body .mobile-menu .menu-wrapper .menu-social {
    margin-top: 60px;
  }
}
/* 
===========================
  hero-wrapper
===========================
*/
/* section.hero-wrapper .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
} */
section.hero-wrapper.sm-all .btn-group {
  justify-content: center;
}
section.hero-wrapper.sm-all .btn-group {
  margin-top: 30px;
}
.hero-wrapper {
  padding-top: 200px;
}
/* section.hero-wrapper .btn-group {
  margin-top: 60px;
}
section.hero-wrapper h1.title-1.text-center {
  margin-bottom: 20px;
} */

.scroll-next-sec {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 70px;
}
.scroll-next-sec a {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  cursor: pointer;
  background: hsla(222, 6%, 67%, 0.2);
  color: var(--foreground);
}
/*all mobile*/
@media (max-width: 767px) {
  body .hero-wrapper .title-1.text-center {
    margin-bottom: 10px;
  }
  body .hero-wrapper {
    padding-top: 170px;
  }
  body .scroll-next-sec {
    padding-bottom: 50px;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
============================
  video-sec
============================
*/

.video-sec {
  padding-top: 80px;
  padding-bottom: 80px;
}
.video-wrapper {
  overflow: hidden;
}
.video-wrapper video {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 2rem;
}
/*all mobile*/
@media (max-width: 767px) {
  .video-sec {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
============================
  recent-work-sec
============================
*/
.recent-work-sec .flex-box .text {
  width: 60%;
}
.recent-work-sec .flex-box .right-text {
  width: 40%;
}
.recent-work-sec {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.recent-work-sec .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* for animation */
.dark .recent-work-sec .title-3 .block {
  background: linear-gradient(90deg, #e0eeee 50%, #252525 0);
  background-size: 200% 100%;
  background-position-x: 0%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}
.recent-work-sec .title-3 .block {
  background: linear-gradient(90deg, #3f4144 50%, #dce1e1 0);
  background-size: 200% 100%;
  background-position-x: 0%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

/*all mobile*/
@media (max-width: 767px) {
  body .recent-work-sec .flex-box {
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
============================
  right-img-section
============================
*/
.right-img-section {
  overflow: hidden;
}
.right-img-section .flex-box {
  display: flex;
  gap: 30px;
  align-content: center;
  justify-content: center;
}
.right-img-section .flex-box .content {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-img-section .flex-box .img-box {
  width: 58%;
}
.right-img-section .flex-box .content .btn {
  margin-top: 50px;
}
.right-img-section .flex-box .img-box img {
  border-radius: 1.5rem;
}
/*all mobile*/
@media (max-width: 767px) {
  body .right-img-section .flex-box {
    flex-direction: column-reverse;
  }
  body .right-img-section .flex-box .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .right-img-section .flex-box .img-box {
    width: 100%;
  }
  body .right-img-section .flex-box .content .btn {
    margin-top: 20px;
  }
  body .right-img-section.left-img-sec .flex-box {
    flex-direction: column;
  }
  body .right-img-section {
    padding-bottom: 50px;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
==============================
  who-we-are
==============================
*/
.who-we-are .right-text {
  display: flex;
  justify-content: end;
}
.who-we-are .right-text .box1 {
  max-width: 449px;
}
.who-we-are .right-text .box1 .btn {
  margin-top: 36px;
}
/* .who-we-are .text {
  width: 70%;
}
.who-we-are .right-text {
  width: 30%;
} */

/* 
===========================
  counter-sec
===========================
*/
.counter-sec {
  overflow: hidden;
}
.counter-sec .flex-2box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.dark .counter-sec .flex-box .box2 {
  background: rgba(31, 32, 34, 0.4);
}
.counter-sec .flex-box .box2 {
  padding: 60px;
  background: hsla(222, 6%, 67%, 0.2);
  border-radius: 1.5rem;
  margin-bottom: 30px;
}
.counter-sec .flex-box .box2 .num {
  font-size: 120px;
  font-weight: 400;
  color: var(--foreground);
  line-height: 50px;
  position: relative;
  top: -24px;
  margin-bottom: 50px;
}
.counter-sec .flex-box .box2 .num sup {
  position: relative;
  left: -5px;
  top: 9px;
}
.counter-sec .flex-box .box2 h3 {
  font-size: 38px;
  line-height: 34px;
  font-weight: 400;
  max-width: 250px;
  text-align: right;
  letter-spacing: 1px;
}
.counter-sec .flex-box .box2 .text {
  display: flex;
  justify-content: end;
}
.counter-sec .flex-box.a2 {
  margin-top: 140px;
}
/*all mobile*/
@media (max-width: 767px) {
  body .counter-sec .flex-2box {
    grid-template-columns: 1fr;
    gap: 0;
  }
  body .counter-sec .flex-box .box2 .num {
    font-size: 62px;
    margin-bottom: 10px;
  }
  body .counter-sec .flex-box .box2 h3 {
    font-size: 20px;
    line-height: 34px;
  }
  body .counter-sec .flex-box .box2 {
    padding: 30px;
    margin-bottom: 30px;
  }
  body .counter-sec .flex-box.a2 {
    margin-top: 0;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}
/* 
===========================
===========================
*/
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-testimonial .swiper-slide {
  background: hsla(222, 6%, 67%, 0.2);
}
.dark .client-testimonial .swiper-slide {
  background: rgba(29, 31, 34, 0.7);
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
/* .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: gray;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
} */

.client-testimonial .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}
.dark .client-testimonial .swiper-slide .item > img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%) hue-rotate(282deg) brightness(102%) contrast(102%);
}
.client-testimonial .swiper-slide .item > img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(41%) saturate(6445%) hue-rotate(134deg) brightness(93%) contrast(108%);
}
.client-testimonial .swiper-slide img {
  margin-bottom: 20px;
}
.client-testimonial .client-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-testimonial .swiper-slide img {
  margin: 0 auto;
  width: 40px;
  padding-bottom: 40px;
}
.client-testimonial .swiper-slide .client-info img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  display: flex;
  padding: 0;
}
.client-testimonial .swiper-slide .client-info {
  margin-top: 80px;
}
.client-testimonial .swiper-slide {
  /* border: 1px solid #fff; */
  border-radius: 18px;
}
.client-testimonial .swiper {
  padding-bottom: 50px;
}

/* 
===========================   
  news-tracker      
===========================         
*/
.dark .news-tracker.logo-tracker .ticker span img {
  filter: brightness(0) saturate(100%) invert(93%) sepia(46%) saturate(6534%) hue-rotate(181deg) brightness(148%) contrast(100%);
}
.news-tracker.logo-tracker .ticker span img {
  filter: brightness(0) saturate(100%) invert(3%) sepia(2%) saturate(5038%) hue-rotate(186deg) brightness(92%) contrast(91%);
}
.news-tracker {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.news-tracker .ticker {
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.news-tracker .ticker .ticker__run {
  width: fit-content;
  display: flex;
  position: relative;
}

.news-tracker .ticker .ticker__run span {
  white-space: nowrap;
  display: flex;
  line-height: 1;
}
.dark .news-tracker.logo-tracker .ticker span {
  background: rgba(29, 31, 34, 0.7);
}
.news-tracker.logo-tracker .ticker span {
  background: hsla(222, 6%, 67%, 0.2);

  border-color: #121315;
  margin-left: 5px;
  margin-right: 5px;
  height: 17rem;
  width: 25rem;
  min-width: 25rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}
.news-tracker.logo-tracker .ticker {
  margin-bottom: 10px;
}
.news-tracker.logo-tracker h2 {
  font-family: var(--font-secondary);
  margin-bottom: 40px;
}
.news-tracker.logo-tracker {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
/* 
======================
  dribbble-sec
======================
*/
.dribbble-sec .dribbble-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
.dribbble-sec .dribbble-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  z-index: 9;
  position: relative;
}
.dribbble-sec .dribbble-middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 150px);
  width: 100%;
  --tw-translate-y: -50%;
  --tw-translate-x: -50%;
  z-index: 1;
}
section.dribbble-sec {
  position: relative;
}
.dribbble-sec .dribbble-posts .dribbble-img img {
  border-radius: 20px;
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*all mobile*/
@media (max-width: 767px) {
  body section.dribbble-sec {
    padding-bottom: 100px;
    overflow: hidden;
  }
  body .dribbble-sec .dribbble-middle-text {
    max-width: 300px;
    height: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
  }
  body .dribbble-sec .dribbble-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  body .social-sec {
    padding: 0 15px;
  }
  body .social-sec .social-item p {
    font-size: 28px;
  }
  body .social-sec .social-item img {
    width: 42px;
  }
  body .social-sec .social-item {
    padding: 22px 0;
    border-bottom: 1px solid #fff;
  }
}

/* 
=================================
  jungle-sec
=================================
*/
.jungle-sec {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.dark .jungle-sec .title-3 .block {
  background: linear-gradient(90deg, #e0eeee 50%, #252525 0);
  background-size: 200% 100%;
  background-position-x: 0%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}
.jungle-sec .title-3 .block {
  background: linear-gradient(90deg, #3f4144 50%, #dce1e1 0);
  background-size: 200% 100%;
  background-position-x: 0%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}
.jungle-sec .btn {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}
/* 
=================================
  banner-parallax-se
=================================
*/
.banner-parallax-sec {
  height: 700px;
  margin-top: 100px;
  background-size: cover;
  background-position: center center;
}
/* 
=================================
  social-sec
=================================
*/
.social-sec .social-item p {
  font-size: 42px;
  color: var(--foreground);
}
.social-sec .social-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 2px solid var(--foreground);
  padding: 35px 0;
  transition: all 0.3s ease-in-out;
}
.social-sec .social-item:hover {
  max-width: 1100px;
}

/* 
=================================
  sm-center-text-sec
=================================
*/
.sm-center-text-sec {
  padding-top: 150px;
  padding-bottom: 150px;
}
.sm-center-text-sec .text-3 {
  margin-bottom: 20px;
}
/* 
=================================
  sm-bg-text-sec
=================================
*/
.sm-bg-text-sec .text-cont {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 130px;
}
.sm-bg-text-sec {
  position: relative;
  background-size: cover;
  background-position: center center;
}
.sm-bg-text-sec .title-3.text-center {
  line-height: 120px;
  z-index: 1;
  position: relative;
  color: #fff;
}
.sm-bg-text-sec .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000a6;
  z-index: 0;
}

/* 
======================
  contact-sec
======================
*/

.contact-sec .flex-box {
  display: flex;
  gap: 30px;
}
.contact-sec .flex-box .contact-form {
  width: 50%;
}
.contact-sec .flex-box .contact-img {
  width: 50%;
}
.contact-sec .flex-box .contact-img img {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.form-group textarea,
.form-group select,
.form-group input {
  background: hsla(222, 6%, 67%, 0.2);
  font-size: 16px;
  line-height: 26px;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 400;
  color: #000;
  border-width: 0;
  border-color: rgba(224, 238, 238, 0.5);
}
.dark .form-group textarea,
.dark .form-group select,
.dark .form-group input {
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 400;
  color: #e0eeee;
  border-width: 0;
  border-color: rgba(224, 238, 238, 0.5);
  background: rgba(31, 32, 34, 0.4);
  font-size: 16px;
  line-height: 26px;
}
.form-group select {
  font-size: 19px;
  line-height: 29px;
  /* color: rgba(197, 252, 252, 0.4); */
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
::placeholder {
  font-size: 19px;
  line-height: 29px;
  color: #656565;
}
.dark ::placeholder {
  font-size: 19px;
  line-height: 29px;
  color: rgba(197, 252, 252, 0.4);
}

/* 
======================
  work-sec1 
======================
*/
.work-sec1 ul {
  margin-left: 17px;
  font-size: 20px;
  line-height: 35px;
  margin-top: 27px;
}
.work-sec1 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.img-text-box img {
  border-radius: 32px;
  margin-bottom: 30px;
}
.work-sec1 .sm-flex {
  display: flex;
  justify-content: space-between;
}
.work-sec1 .sm-flex.sm2 {
  flex-direction: row-reverse;
}
.container-w1 {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-w2 {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* 
======================
  services-sec
======================
*/
.services-sec .box.sm-right-title .coll.sm1 h2.title-2 {
  text-align: right;
}

.services-sec .box.sm-right-title .coll.sm1 .btn {
  display: flex;
  justify-content: end;
}
.services-sec .box.sm-right-title {
  flex-direction: row-reverse;
}
.services-sec .box.sm-right-title .coll.sm1 {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.services-sec .box .btn {
  width: 100%;
}
.services-sec .box {
  flex-wrap: wrap;
}
.services-sec {
  margin-bottom: 60px;
}
.dark .services-sec .box {
  background: rgba(31, 32, 34, 0.4);
}
.services-sec .box {
  background: hsla(222, 6%, 67%, 0.2);
  border-radius: 1.5rem;
  padding: 100px;
  display: flex;
}
.services-sec .box .coll.sm1 {
  width: 60%;
}
.services-sec .box .coll.sm2 {
  width: 40%;
}
.services-sec .box .coll .list-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.services-sec .box .coll .list-flex .list-text p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

/* 
======================
  team-member slider
======================
*/
.team-member {
  padding-bottom: 100px;
}
.team-member .item img {
  border-radius: 20px;
}
.team-member .item .text {
  text-align: left;
  margin-top: 16px;
}
.team-member .item .text .name {
  font-size: 24px;
  line-height: 34px;
}
.team-member .item .text .position {
  font-size: 20px;
  line-height: 30px;
}

/* 
===============================================
  sm gallery
===============================================
*/
.sm-featured-demos.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sm-thumbaa {
  position: relative;
  height: 650px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(29, 28, 31, 0.2);
}

.sm-thumbaa img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0);
}

.c-pointer {
  cursor: pointer;
}

/* 
======================
  footer
======================
*/
footer.footer {
  padding-bottom: 150px;
}
.dark footer.footer .boxa {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
footer.footer .boxa {
  display: flex;
  padding: 38px 0;
  border-top: 1px solid #121315;
  border-bottom: 1px solid #121315;
}
footer.footer .boxa a.f-link.sm2,
footer.footer .boxa a.f-link.sm1 {
  width: 35%;
}
footer.footer .boxa a.f-link.sm4 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

footer.footer .boxa a.f-link {
  text-decoration: none;
  color: var(--foreground);
}

footer.footer .boxa a.f-link p.ft1 {
  font-size: 16px;
  line-height: 26px;
}

footer.footer .boxa a.f-link p.ft2 {
  font-size: 18px;
  line-height: 28px;
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*all mobile*/
@media (max-width: 767px) {
  body .contact-sec .flex-box {
    flex-direction: column;
  }
  body .contact-sec .flex-box .contact-form {
    width: 100%;
  }
  body .contact-sec .flex-box .contact-img {
    width: 100%;
  }
  body .form-row {
    display: block;
  }
  body .team-member {
    padding-left: 15px;
  }
  body .sm-bg-text-sec .title-3.text-center {
    line-height: 76px;
  }
  body footer.footer .boxa .f-link {
    width: 100% !important;
  }
  body footer.footer .boxa {
    flex-direction: column;
    gap: 20px;
  }
  body footer.footer .boxa a.f-link.sm4 {
    align-items: start;
  }
}
/* 
======================
popup 
======================
*/
.dark .popup-overlay {
  background: rgb(0 0 0 / 98%);
}
.popup-overlay {
  position: fixed;
  inset: 0;

  background: rgb(213 213 213 / 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: var(--background);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  border-radius: 12px;
  position: relative;
}
.popup-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}
.popup-content .sm-title {
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 20px;
}
.popup-content p.text-1 {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.popup-content p.micro-trust {
  margin-top: 40px;
  text-align: center;
}
/* 
======================
Multi Stap Form
======================
*/
.progress-bar {
  display: flex;
  margin-bottom: 2rem;
  list-style: none;
  padding: 0;
  counter-reset: step;
  gap: 30px;
}
.dark .progress-bar li {
  flex: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 30px;
  background: #121315;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 44px;
}
.progress-bar li::before {
  counter-increment: step;
  content: counter(step);
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background: #444;
  color: #fff;
  margin-bottom: 0;
}
.progress-bar li.done {
  color: #000000;
  background: #c5fcfc;
}
.progress-bar li + li::after {
  content: "";
  position: absolute;
  top: 19px;
  left: -50%;
  width: 100%;
  height: 2px;
  background: #444;
  z-index: -1;
}
.progress-bar li.done + li::after {
  background: var(--primary);
}
.progress-bar li {
  flex: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 30px;
  background: #eef3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 44px;
}
